h1 {
  color: blue

}

body {
    background-image: url("https://static.wixstatic.com/media/9d0209_ccc40d806b2a4d0f82c50302872c4f9e.jpg/v1/fill/w_583,h_596,al_c,lg_1,q_80/9d0209_ccc40d806b2a4d0f82c50302872c4f9e.jpg
");
     background-size: 800px 600px;
}

body {
  color: white
}






